
    <header class="header">
      <div class="container">
        <h1>Contact Me</h1>
      </div>
    </header>

    <main class="main-content">
      <section class="contact-section container">
        <h2>Get in Touch</h2>
        <p>
          I’d love to hear from you! Whether you have a project in mind, a
          question, or just want to say hello, feel free to reach out.
        </p>
        <p>
          <strong>Email:</strong>
          <a href="mailto:sabi521@gmail.com">sabi521@gmail.com</a>
        </p>
        <p>
          <strong>Phone:</strong> <a href="tel:+14384026250">+1 438 402 6250</a>
        </p>
        <p>
          <strong>LinkedIn:</strong>
          <a
            href="https://www.linkedin.com/in/sarbjeet-singh-5a18b018a/"
            target="_blank"
            >Connect with me</a
          >
        </p>
      </section>
    </main>

