<h1><%= data.title %></h1>
<article class="article">
  <!-- Display the Post Image -->
  <% if (data.imageUrl) { %>
  <img
    src="<%= data.imageUrl %>"
    alt="<%= data.title %> image"
    class="article-image"
  />
  <% } %>

  <!-- Display the Post Body -->
  <div class="article-body"><%= data.body %></div>
</article>
